@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@plugin "daisyui";

@theme{
  --font-oswald : 'Oswald', sans-serif;
  --font-roboto : 'Roboto', sans-serif;
  --font-serif : 'Cinzel' , serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-oswald);
}

body{
  font-family: var(--font-roboto);
  overflow-x: hidden;
}

.swiper-pagination-bullet {
  color: #e8d8b5;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  background: #e8d8b5;
  color: #e8d8b5;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

